<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CategoryTwoImages</key>
	<array>
		<string>Poppin&apos; Cookin&apos;</string>
		<string>Pocky</string>
		<string>HiChew</string>
		<string>Konpeito</string>
	</array>
</dict>
</plist>
